* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;}
body {
    width: 90%;
    margin: 0 auto;
    background-image: url("images/milkyway-620x330.jpg") }
#content {
    overflow: auto;}
#nav, #feature, #footer {
    margin: 1%;}
.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;}
.column3 {
    margin-right: 0%;}
li {
    display: inline;
    padding: 0.5em;}
#nav {
    padding: 0.5em 0;}
#feature {
    background-color: violet;
    background-image: url("images/webb.jpg");
    background-size:contain;
    background-position: right;
    background-repeat:no-repeat;
    padding: 0.5em 0;}
#nav {
    background-color: tomato;}
.column1 {
    background-color: orange;}
.column2 {
    background-color: dodgerblue;}
.column3 {
    background-color: mediumseagreen;}
#footer {
    background-color: slateblue;
    padding: 0.5em 0;}
img.align-right{
  float: right;}
img.small{
  width: 100px;
  height: 100px;}
h1{
   font-family: 'Processregistrationregistration';
   font-weight: normal;
   font-style: normal;
   color: white}

#feature, .article {
    height: 10em;
    margin-bottom: 1em;}